{% extends 'layout.html' %} {% block content %}
<body>
<div id="content-wrapper">

    {% if all_movies|length == 0 %}
    <h1>No movies were found!</h1>
    {% else %}
    <h1>{{title}}</h1>
    {% endif %}
    <div class="container">
            <div class="inner">
            {% for m in all_movies %}
                <div class="movie_box" style="background-image: url({{m.image}});">
                    <p class="rating-text">Rating: {{m.rating}}</p>
                    <a style="padding-top:10px;" class="more" href="{{ url_for('movie_info_bp.movie_info', movie=m.title) }}'">View more info</a>
                </div>
              {% endfor %}
            </div>
    </div>
</div>
</body>
{% endblock %}
