{% extends 'layout.html' %} {% block contents %}
<body>
<div id="content-wrapper">
    <h1>{{genre.genre_name}}</h1>
    <div class="container">
            <div class="inner">
            {% for m in all_movies %}
                <div class="movie_box">
                  <p style="padding-top:10px;">{{m.title}}</p>
                  <p style="padding-top:10px;">Director: {{m.director.director_full_name}}</p>
                  <p style="padding-top:10px;">Runtime: {{m.runtime_minutes}}m</p>
                    <p style="padding-top:10px;">Rating: {{m.rating}}</p>
                </div>
              {% endfor %}
            </div>
    </div>
</div>
</body>
{% endblock %}
