{% extends 'layout.html' %} {% block content %}
<body>
<div id="content-wrapper">
    <h1>{{movie.title}}</h1>
    <div class="container">
            <div class="inner">
                <div class="movie_info_box">
                    <p class="text"> {{movie.description}}</p>
                        <ul class="actors">
                            <li>Actors: </li>
                            {% for actor in movie.actors %}
                                <li>{{actor.actor_full_name}}</li>
                            {% endfor %}
                        </ul>
                        <br>
                        <br>
                        <br>
                      <p class="text">Director: {{movie.director.director_full_name}}</p>
                      <p  class="text">Runtime: {{movie.runtime_minutes}}m</p>
                    <p  class="text">Release: {{movie.release}} </p>
                    <p  class="text">Rating: {{movie.rating}}({{movie.num_of_ratings}}) Metascore: {{movie.metascore}}</p>


                </div>
            </div>
                                <div style="float:right">

                            <button class="btn-general" onclick="location.href='{{ url_for('movie_info_bp.comment_on_movie', movie=movie.title) }}'">Comment</button>
                        </div>
                <div style="clear:both">
            {% for review in movie.reviews %}
                <p class="comment">{{review.review_text}}, final score: {{review.rating}} by {{review.user.user_name}}, {{review.date}}</p>
            {% endfor %}
        </div>
    </div>
</div>
</body>
{% endblock %}