@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body,
html {
  height: 100%;
  background: #151515;
}

.nav .menu{
    width: 100%;
    text-align: right;
    height: 10%;
}

.actors {
    width: 100%;
    text-align: right;
    height: 10%;
}


.actors li{
    list-style-type: none;
    display: inline-block;
    padding: 1%;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    float:left;
    padding-top: 2%;
    pointer-events:none;
}

.more {
    color: #D6D6D6;
    border-style: solid;
    padding: 5px;
    background-color: #DC1A28;
}


.text {
    padding: 1%;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    padding-top: 2%;
    pointer-events:none;
    padding-top:10px
}

#mini-header {
    height:50px;
}
.view {
    float:right;
    color:#D6D6D6;
}
.header {
    height: 130px;
}

.rating-text {
    padding-top:120%;
    padding-bottom:15px;
    text-shadow:2px 2px 0px #000000;
}

.info-image {

    margin-left:30%;

}


.movie_box {
    width:20%;
    height:450px;
    text-align:center;
    float:left;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
}


.movie_info_box {
    margin-top:70px;
    width:100%;
    height:400px;
    background-color:#333333;
}

#nav-header {
    padding-top:50px;
}

.comment-form {
    float:left;
    display:inline-block;
    color:#D6D6D6;
}

.comment-form > label{
    margin-right:auto;
    margin-left:auto;
    color:#D6D6D6;
    font-size: 20px;

}

#submit {
	background-color:#333333;
	border-radius:4px;
	border:1px solid #2d332e;
	float: right;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
	text-align:center;
}

.movie_box > p {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.movie_box > a{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#submit:hover {
	background-color:#808080;
}

.search-container {
    float:right;
    width:50%;
}

.search >dl >dd {
    float:left;
    list-style-type: none;
    display: inline-block;
}

dd > select {
    height:50px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    outline: none;
}

dd > #search {
    height:50px;
    font-size:20px;
    padding: 1px 15px 6px 35px;
    border-radius: 20px;
    outline: none;
}

.Title-home {
    width:100%;
    float:left;
}

label {
    color:#D6D6D6;
}

.btn-general {
	background-color:#333333;
	border-radius:4px;
	border:1px solid #2d332e;
	float: right;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}

.btn-general:hover {
	background-color:#808080;
}

.errors > li {
    color:#D6D6D6;
}

h1 {
    color:#D6D6D6;
}

.space {
    width:100%;
    height:100px;
}

.container {
    overflow:hidden
    width:200px;
}

#a_hover{
    display:none;
}
.container:hover > .inner:hover > .movie_box:hover > #a_hover {
    display:block;
    transition: display 1.5s;

}
.inner {
    overflow:hidden
    width:100%;
}

#content-wrapper {
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.form-field{
    margin-right:auto;
    margin-left:auto;
    color:#D6D6D6;
    padding-top:20px;
}

.form-field > label{
    margin-right:auto;
    margin-left:auto;
    color:#D6D6D6;
    font-size: 30px;
    padding-right:20px;
}

form > input {
    width:100px;
    height:40px;
    font-size:30;
    margin-top:20px;
    margin-left:53%;
}

#nav-header {
    padding-left:5%;
    color:#D6D6D6;
}




.form-field > input{
    margin-right:auto;
    margin-left:auto;
    font-size: 30px;
    width:50%;
    height:50px;
}

.form-field > ul > li{
    margin-right:auto;
    margin-left:auto;
    font-size: 30px;
    color:#D6D6D6;
}



.menu li{
    list-style-type: none;
    display: inline-block;
    padding: 2.5%;
    margin: 0px 2.5%;
    font-size: 100%;
    color: white;
    cursor: pointer;

    padding-top: 5%;
}

.menu li:hover > a{
    color: #92060D;
}

p {
    color:#D6D6D6;
}

.logo {
    float: left;
    padding: 1%;
    padding-left: 5%;
    margin: 1%;
}

#nav {
    padding-bottom:50px;
}

.main-logo {
    width:200px;
    transition: 0.4s;
}

.main-logo:hover {
   width:170px;
}

.comment {
    background-color:#333333;
    padding: 6px 15px 6px 35px;
}

@media only screen and (max-width: 1670px) {
    .movie_box {
        background-size: contain;
    }

}