<nav id="nav">



    <div class="header">
            <div class="nav">
                <div class="logo">
                    <a href="{{ url_for('home_bp.home') }}">
                        <img src="https://fontmeme.com/permalink/201007/e0d53a67950603d6030cd7dca08c673c.png" class="main-logo" width="120" >
                    </a>
                </div>
                <ul class="menu">
                    <li><a class="btn-nav" href="{{ url_for('home_bp.home') }}" style="color:white;">Home</a></li>
                    <li><a class="btn-nav" href="{{ url_for('authentication_bp.register') }}" style="color:white;">Register</a></li>
                    {% if 'username' in session %} <li><a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}" style="color:white;">Logout</a></li>
                    {% else %}
                    <li><a class="btn-nav" href="{{ url_for('authentication_bp.login') }}" style="color:white;">Login</a></li>
                    {% endif %}

                </ul>
            </div>

    </div>
    <h2 id="nav-header">
        {% if 'username' in session %} Hello, {{ session['username'] }} {%
        endif %}
    </h2>



</nav>